<div class="telemetry">
  <table>
    <thead>
      <th>Team</th>
      <th>Time</th>
      <th>Packet</th>
      <th>Voltage</th>
      <th>Altitude</th>
      <th>Velocity</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>TookPhoto</th>
      <th>RpmA</th>
      <th>RpmB</th>
      <th>RpmC</th>
      <th>RpmD</th>
      <th>Time After Separation</th>
      <th>TookPhotos</th>
      <th>SentPhotos</th>
    </thead>
      {% for row in data %}
        <tr>
          <td>{{ row.team_id }}</td>
          <td>{{ row.time }}</td>
          <td>{{ row.packet }}</td>
          <td>{{ row.voltage }}</td>
          <td>{{ row.altitude }}</td>
          <td>{{ row.velocity }}</td>
          <td>{{ row.lat }}</td>
          <td>{{ row.lon }}</td>
          <td>{{ row.took_photo }}</td>
          <td>{{ row.rpm_a }}</td>
          <td>{{ row.rpm_b }}</td>
          <td>{{ row.rpm_c }}</td>
          <td>{{ row.rpm_d }}</td>
          <td>{{ row.stage }}</td
          <td>{{ row.took_photos }}</td>
          <td>{{ row.send_photos }}</td >
        </tr>
      {% endfor %}
  </table>
</div>
