<div class="telemetry">
  <table>
    <thead>
      <th>Team</th>
      <th>Time</th>
      <th>Packet</th>
      <th>Voltage</th>
      <th>Altitude</th>
      <th>Velocity</th>
      <th>Latitude</th>
      <th>Longtitude</th>
      <th>TookPhoto</th>
      <th>RpmA</th>
      <th>RpmB</th>
      <th>RpmC</th>
      <th>RpmD</th>
      <th>Stage</th>
      <th>TookPhotos</th>
      <th>SentPhotos</th>
    </thead>
    <tr>
      <td>6165</td>
      <td>4</td>
      <td>4</td>
      <td>101.33</td>
      <td>30.3</td>
      <td>7.31</td>
      <td>40.4093</td>
      <td>49.8671</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>6165</td>
      <td>3</td>
      <td>3</td>
      <td>103.54</td>
      <td>23.43</td>
      <td>5.36</td>
      <td>40.4093</td>
      <td>49.8671</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>6165</td>
      <td>2</td>
      <td>2</td>
      <td>107.54</td>
      <td>15.5</td>
      <td>5.1</td>
      <td>40.4093</td>
      <td>49.8671</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>6165</td>
      <td>1</td>
      <td>1</td>
      <td>106.61</td>
      <td>9.15</td>
      <td>4.31</td>
      <td>40.4093</td>
      <td>49.8671</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>
